@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-slate-gradient {
  background: linear-gradient(
    157.81deg,
    #94a3b8 -43.27%,
    #64748b -21.24%,
    #475569 12.19%,
    #334155 29.82%,
    #1e293b 70.94%,
    #0f172a 150.29%
  );
}

.bg-slate-main {
  background: linear-gradient(
    157.81deg,
    #0ea5e9 -43.27%,
    #0284c7 -21.24%,
    #0369a1 12.19%,
    #075985 29.82%,
    #0c4a6e 51.94%,
    #082f49 90.29%
  );
}

.bg-blue-main {
  background: linear-gradient(
    157.81deg,
    #172554 -43.27%,
    #172554 -21.24%,
    #172554 29.19%,
    #1e3a8a 49.82%,
    #1e3a8a 51.94%,
    #172554 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}
